@model StudentOrganization.Models.Coach

@{
    ViewBag.Title = "Coach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link">
                            <h5>Admin Panel</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Grops", "Index", "Admin", new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("News", "News", "Admin", new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Sport Club", "SportClub", "Admin", new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Student", "Student", "Admin", new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Coaches", "Coach", "Admin", new { @class = "nav-link active" })
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                <h1 class="h2">Students</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addGroup">
                        ADD NEW
                    </button>

                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addGroup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm("RegisterCoach", "Admin"))
                        {
                            <fieldset id="SubmitForm">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Name:</label>
                                        @*<input type="text" name="group_name"/>*@
                                        @Html.ValidationMessageFor(m => m.name)
                                        @Html.TextBoxFor(c => c.name, new { @class = "form-control", required = "required" })
                                    </div>
                                    <div class="form-group">
                                        <label>Surname:</label>
                                        @*<input type="text" name="group_name"/>*@
                                        @Html.ValidationMessageFor(m => m.surname)
                                        @Html.TextBoxFor(c => c.surname, new { @class = "form-control", required = "required" })
                                    </div>
                                    <div class="form-group">
                                        <label>Login:</label>
                                        @*<input type="text" name="group_name"/>*@
                                        @Html.ValidationMessageFor(m => m.login)
                                        @Html.TextBoxFor(s => s.login, new { @class = "form-control", required = "required" })
                                    </div>
                                    <div class="form-group">
                                        <label>Password:</label>
                                        @*<input type="text" name="group_name"/>*@
                                        @Html.ValidationMessageFor(m => m.password)
                                        @Html.PasswordFor(s => s.password, new { @class = "form-control", required = "required" })
                                    </div>
                                    <div class="form-group">
                                        <label>Group:</label>
                                        
                                       <select name="name_sport">
                                           <option>Volleyball</option>
                                           <option>Basketball</option>
                                           <option>Football</option>
                                           <option>Football</option>
                                           <option>Chess</option>
                                           <option>Athletics</option>
                                       </select>
                                    </div>
                                    @*<div class="form-group">
                                        <label>Group:</label>
                                        <input type="text" name="group_name"/>
                                        @Html.DropDownListFor(s => s.student.group_id, new SelectList(Model.group, "id", "group_name"), "Select Group", new { @class = "form-control" })
                                    </div>*@
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Add</button>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>

            <div class="table-responsive-xl">
                <table class="table table-striped">
                    <thead>
                        <tr style="text-align: center;">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Sport type</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    @foreach (var s in ViewBag.Coach)
                    {
                        <tbody style="text-align: center;">
                            <tr>

                                <td>@s.id</td>
                                <td>@s.name</td>
                                <td>@s.surname</td>
                                <td>@s.name_sport</td>
                                <td>
                                    <a href="#editStudent" class="edit" data-toggle="modal">Edit</a>
                                    <input type="hidden" class="id" value="@s.id" />

                                    <a href="#deleteStudent" class="delete" data-toggle="modal">Delete</a>
                                    <input type="hidden" class="id" value="@s.id" />
                                </td>
                            </tr>
                        </tbody>
                        <!-- Modal -->
                        <div class="modal fade" id="editStudent" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                @using (Html.BeginForm("Edit_Coach", "Admin"))
                                {
                                    <input type="hidden" id="id" name="id" value="id" />
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel_edit">Edit Coach</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" name="name">
                                            </div>
                                            <div class="form-group">
                                                <label>Surname</label>
                                                <input type="text" class="form-control" name="surname">
                                            </div>
                                            <div class="form-group">
                                                <label>Login</label>
                                                <input type="text" class="form-control" name="login">
                                            </div>
                                            <div class="form-group">
                                                <label>Sport Type</label>
                                                <select name="group" class="form-control">
                                                    @for(int i = 0;i<ViewBag.SportName;i++)
                                                    {
                                                        <option value="@i">@ViewBag[i]</option>                                                     
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-info" value="Save" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteStudent" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="/update_language" method="post">
                                    <input type="hidden" name="language_id" value="<%=l.getId()%>">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel_delete">Deleting @s.name </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Delete @s.name?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button class="btn btn-primary" name="delete_btn">Yes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </table>
            </div>
        </main>
    </div>
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-google="tooltip"]').tooltip();

                $('table .edit').on('click', function () {
                    var id = $(this).parent().find('.id').val();
                    $.ajax({
                        type: 'GET',
                        url: '/Admin/FindCoach/' + id,
                        success: function (student) {
                            $('#editStudent input[name="id"]').val(student.id);
                            $('#editStudent input[name="name"]').val(student.name);
                            $('#editStudent input[name="surname"]').val(student.surname);
                            $('#editStudent input[name="login"]').val(student.login);
                            //$('#editStudent select[name="group"]').val(student.group.group_name);
                            for (var i = 0; i < student.length; i++) {
                                $('##editStudent select[name="group"]').append('<option value=' + student[i].Value + '>' + student[i].Text + '</option > ');
                            }
                        }
                    })
                })
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-google="tooltip"]').tooltip();

                $('table .delete').on('click', function () {
                    var id = $(this).parent().find('.id').val();
                    $.ajax({
                        type: 'GET',
                        url: '/Admin/FindCoach/' + id,
                        success: function (group) {
                            $('#deleteGroup input[name="id"]').val(group.id);
                            $('#deleteGroup input[name="group_name"]').val(group.group_name);
                        }
                    })
                })
            });
        </script>
    }
</div>