
@model StudentOrganization.ViewModels.ViewGroupModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                <h1 class="h2">Groups</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addGroup">
                        ADD NEW
                    </button>

                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addGroup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm("New_Group", "Admin"))
                        {
                            <fieldset id="SubmitForm">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Name:</label>
                                        @*<input type="text" name="group_name"/>*@
                                        @Html.TextBoxFor(g => g.group.group_name, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>Name:</label>
                                        @*<input type="text" name="group_name"/>*@
                                        @Html.DropDownListFor(g => g.group.courseId, new SelectList(Model.courses, "id", "number_course"), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Add</button>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>

            <div class="table-responsive-xl">
                <table class="table table-striped">
                    <thead>
                        <tr style="text-align: center;">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Course</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    @foreach (var g in ViewBag.Group)
                    {
                        <tbody style="text-align: center;">
                            <tr>

                                <td>@g.id</td>
                                <td>@g.group_name</td>
                                <td>@g.course.number_course</td>
                                <td>
                                    <a href="#editGroup" class="edit" data-toggle="modal">Edit</a>
                                    <input type="hidden" class="id" value="@g.id" />

                                    <a href="#deleteGroup" class="delete" data-toggle="modal">Delete</a>
                                    <input type="hidden" class="id" value="@g.id" />
                                    @*<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteLanguage<%=l.getId()%>">
                                        Delete
                                    </button>*@
                                </td>
                                <!-- Modal -->
                                <div class="modal fade" id="editGroup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        @using (Html.BeginForm("Edit_Group", "Admin"))
                                        {
                                            <input type="hidden" id="id" name="id" value="id" />
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel_edit">Edit Group</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label>Name Group</label>
                                                        <input type="text" class="form-control" name="group_name">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    <input type="submit" class="btn btn-info" value="Save" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteGroup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog" id="del">
                                        @using (Html.BeginForm("Delete_Group", "Admin"))
                                        {
                                            <input type="hidden" name="id" value="id">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel_delete">Delete this group?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" class="form-control" name="group_name" readonly>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button class="btn btn-primary" name="delete_btn">Yes</button>
                                                </div>
                                            </div>
                                        }
                                        </div>
                                </div>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </main>
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-google="tooltip"]').tooltip();

                $('table .edit').on('click', function () {
                    var id = $(this).parent().find('.id').val();
                    $.ajax({
                        type: 'GET',
                        url: '/Admin/FindGroup/' + id,
                        success: function (group) {
                            $('#editGroup input[name="id"]').val(group.id);
                            $('#editGroup input[name="group_name"]').val(group.group_name);
                        }
                    })
                })
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-google="tooltip"]').tooltip();

                $('table .delete').on('click', function () {
                    var id = $(this).parent().find('.id').val();
                    $.ajax({
                        type: 'GET',
                        url: '/Admin/FindGroup/' + id,
                        success: function (group) {
                            $('#deleteGroup input[name="id"]').val(group.id);
                            $('#deleteGroup input[name="group_name"]').val(group.group_name);
                        }
                    })
                })
            });
        </script>
    }
