


@using Microsoft.AspNet.Identity
@{
    var currentUser = User.Identity.Name;
}

    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - приложение ASP.NET</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>


        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container">
                <a class="navbar-brand text-white" href="@Url.Action("Index","Home")">IITU</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("AllOrg","Home")">Organizations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("AllNews","Home")">News</a>
                        </li>
                        @if (currentUser.Equals("nurlanov.aibek1@gmail.com"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("Index","Admin")">Admin Panel</a>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Something
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("AllEvents","Home")">Events</a>
                            </div>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                    @*@{
                            StudentOrganization.Models.ApplicationUser student = Session["current_user"] as StudentOrganization.Models.ApplicationUser;
                            if (student != null)
                            {
                                @Html.ActionLink(student.Email, "ProfilePage", "User", new { @class = "btn btn-outline-light my-2 my-sm-0" })

                            }
                            else
                            {
                                @Html.ActionLink("Login", "RegistrationPage", "User", new { @class = "btn btn-outline-light my-2 my-sm-0" })
                            }
                        }*@
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
        </div>
        <div style="min-height:600px;"></div>
        <div>
            <div class="footer">
                <div class="footer_column">
                    <div class="container">
                        <nav class="footer_nav">
                            <div class="nav_content">
                                <ul>
                                    <li><a class=" nav_link" href="#">About StudGOV</a></li>
                                    <li><a class=" nav_link" href="#">Academics</a></li>
                                    <li><a class=" nav_link" href="#">Admissions</a></li>
                                </ul>
                                <ul>
                                    <li><a class=" nav_link" href="#">Locations</a></li>
                                    <li><a class=" nav_link" href="#">Campus Life</a></li>
                                    <li><a class=" nav_link" href="#">Research</a></li>
                                </ul>
                            </div>
                        </nav>
                        <div class="logo_container">

                            <img class="logo_foot" src="../Bootstrap/assets/img/logo_t.png" alt="">

                            <p class="footer_address">
                                070777 , <br>Almaty, Manas34A, Kazakhstan<br>8 777 5466 9966
                            </p>
                        </div>
                    </div>
                </div>
                <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
                    <div class="container text-center">
                        <small>Copyright &copy; Internation IT University</small>
                    </div>
                </footer>
            </div>
        </div>
        



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
