@model StudentOrganization.Models.RegisterViewModel
@{
    ViewBag.Title = "Registration";
}

<h2>@ViewBag.Title.</h2>



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Creating a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            
            @Html.LabelFor(m => m.Course, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Course, ViewBag.Course as List<SelectListItem>, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Group, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Group, new SelectList(string.Empty, "Value", "Text"), "Select Group", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Sign Up" />
            </div>
        </div>
    }

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {

        $("#Course").change(function () {
            $("#Group").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getGroup")',
                dataType: 'json',
                data: { id: $("#Course").val() },
                success: function (group) {

                    $.each(group, function (i, group) {
                        $("#Group").append('<option value="'
                                                   + group.Value + '">'
                            + group.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert(ex.Text);
                }
            });
            return false;
        })
    });
    </script>
}


